.u-bounce {
  animation: bounce 1000ms infinite;
  //animation-timing-function: cubic-bezier(0,1.28,0,1.27);
}


section article {
  border-top: solid 1px #545454;
  padding-bottom: 30px;
}
.u-text-center {text-align: center;}

/* Pokeball draw code */
// Size variable to keep all proportional if manipulate it
$size: 50px;
.o-pokeball {
  width: $size;
  height: $size;
  border-radius: $size;
  border: solid calc($size/25) black;
  position: relative;    
  background: linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%);;
  margin: 10px auto;
  
  &:before,
  &:after{
    content: "";
    display: block;
  }
  
  &,
  &:before,
  &:after{
    transition: all 600ms cubic-bezier(.67,.4,.36,.75);
  }
  
  &:before {
    width: $size;
    height: calc($size/2) - calc($size/25/2);
    border-bottom: solid calc($size/25) black;
    border-radius: calc($size/2) calc($size/2) 0 0;
    background: linear-gradient(to bottom, #d10000 0%,#ff0000 50%);
  }
  
  &:after {
    content: "";
    width: calc($size/5);
    height: calc($size/5);
    background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 0 0 0 calc($size/50) black,
                0 0 0 calc($size/25) #ddd,
                0 0 0 calc($size/14) black,
                0 0 calc($size/10) calc($size/17) rgba(0,0,0,0.4);
  }
}